*, *:before, *:after {
  box-sizing: border-box;
}


#root, #root > *, .GetCategories, .GetJoke {
    height: 100%;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

p {
    margin: 0;
    padding: 0;
}


.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}







.imageSection {
    width: 70%;
    margin-top: 50px;
}
.jokeImageCmp {    
    min-height: 20vw;
  
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; 

    border-radius: 10px;

}





.option-container {
    width: 70%;
}

.GetCategories {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


.GetJoke {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}






.jokeQuote {
    width: 70%;
    color: #242138;

    font-size: calc(12px + 1.6vw);
    font-weight: 600;
}



/* SelectBox <select> class (categories) */
.selectCategory {
    width: 100%;
    /* min-height: 50px;*/
    min-height: 50px;
    height: 5vw;
    font-size: calc(8px + 1.25vw);
    color: #848389;

    padding-left: 15px;

    border: 2px solid #242138;
    border-radius: 10px;

}

/* text input */
.GetJoke-input {
    width: 70%;
    min-height: 50px;
    height: 5vw;
    font-size: calc(8px + 1.25vw);

    color: #242138;
    border: 2px solid #242138;
    border-radius: 10px;
    padding-left: 20px;


}



/* Draw joke button */
.GetJoke-btn {
    width: 70%;
    min-height: 50px;
    height: 5vw;
    font-size: calc(8px + 1.25vw);

    color: #ebebeb;
    background-color: #242138;

    border: 2px solid #242138;
    border-radius: 10px;


}




.counter {
    width: 70%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;


}

.counter-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 15px;
}



.counter-group {
    flex: 1;
    background-color: #ebebeb;
    border-radius: 10px;
    
    min-height: 50px;
    height: 5vw;
    font-size: calc(8px + 1.25vw);


    display: flex;
    align-items: center;
    justify-content: center;

}
.button {
    
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button.minus {
    padding-left: 5px;

}
.button.plus {
    padding-right: 5px;

}
.minus-box,
.plus-box {
    font-weight: 600;    
    width: 30px;  
    height: 30px;
    font-size: 22px;


    border: 2px solid #242138;
    border-radius: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

.quantity-field {
    font-size: calc(8px + 1.25vw);

    background-color: #ebebeb;
    border: 0;
    height: 100%;
    width: 30%;
    text-align: center;

}
.quantity-field:focus {
    outline: none;
}





.saveJokes {
    min-height: 50px;
    height: 5vw;
    font-size: calc(8px + 1.25vw);

    flex: 2;
    background-color: #ebebeb;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.saveJokes:hover {
    background-color: #242138;
    color: #ebebeb;
}





.controlMessage {
    font-size: calc(8px + 1.25vw);

    align-self: flex-start;
    color: #e39282;
}




/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
